body {
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0;
}

h1 {
    text-align: center;
    color: darkgray;
    margin: 10px;
    padding: 10px;
}

#itemInput {
    width: 250px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 15px;
    margin-top: 5px;
}

#addItem {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 5px;
}

#addItem:hover {
    background-color: blueviolet;
}

#itemList {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#itemList li {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 6px;
    border-left: 4px solid gray;
}

.purchased {
    text-decoration: line-through;
    color: gray;
    opacity: 0.8;
}

.highlight {
    background-color: rgb(0, 255, 4);
    transition: background-color 2s ease;
}

/*

#scanner {
    position: relative;
    z-index: 5;        /* bring video above black background 
    opacity: 1;         ensure visible 
    background: transparent;
}

.camera-container {
    display: none;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 10px auto;
    border-radius: 10px;
    overflow: hidden;
    background: transparent; /* remove black background 
}


.scan-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    height: 35%;
    border: 5px solid red;
    transform: translate(-50%, -50%);
    z-index: 10; /* overlay on top of video 
    border-radius: 10px;
}


#scanner {
    display: none;
}
.scan-box {
    display: none;
}

.camera-container {
    display: none;
}

video {
    width: 100% !important;
    height: auto !important;
    max-height: 300px;
    object-fit: cover;
    background: black;
    transform: scaleX(-1); /* fixes sometimes flipped preview 
}

*/

