/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.top-tabs {
  display: flex;
  gap: 16px;
  padding: 12px 16px;
  background: #f5f5f5;
}

.tab {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.tab.active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #000;
  padding-bottom: 4px;
}

.container {
  padding-top: 16px;
  padding-bottom: 25px;
}

.container.section {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.section h4 {
  color: #000;
  font-weight: bold;
  font-size: large;
  text-wrap: wrap;
}

.section p {
  color: #666;
  font-size: small;
}
  

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
.page-container {
  max-width: 1500px;
  padding: 5px;
  margin: 0 auto;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
}

.shopping-card-container, .meal-plan-card-container, .upcoming-events-card-container, .tasks-card-container {
  display: grid;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  row-gap: 14px;
}

.upcoming-events-card-container {
  display: grid;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  row-gap: 14px;
}

.upcoming-events-card-header {
  background-color: #e0e0e0;
  padding: 20px;
  border-radius: 10px;
  row-gap: 12px;
  margin: 0;
}

.tasks-card-header, .shopping-card-header {
  background-color: #e0e0e0;
  padding: 12px;
  border-radius: 10px;
  row-gap: 12px;
  margin: 0;
}

.upcoming-events-card-title {
  font-size: 18px;
  margin: 0;
}

.upcoming-events-card-body, .tasks-card-body, .shopping-card-body {
 font-size: 0.95rem;
}

.upcoming-events-card-primary-action {
  justify-self: first baseline;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: fit-content;
}

.action-row {
  display: flex;
  gap: 20px;
}

button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .home-page-container {
    gap: 15px;
  }
  .action-row {
    flex-direction: column;
  }
}